# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

lib-cmsisnn/.github/**
lib-cmsisnn/Tests/UnitTest/TestCases/*/Unity/TestRunner/*
lib-cmsisnn/Tests/UnitTest/TestCases/*/Unity/TestRunner/*
lib-cmsisnn/Tests/UnitTest/TestCases/TestData/*/*.tflite
lib-cmsisnn/Tests/UnitTest/TestCases/TestData/*.json
lib-cmsisnn/Tests/UnitTest/TestCases/TestData/*/*.json
lib-cmsisnn/Tests/UnitTest/TestCases/TestData/*/schema_generated.h
lib-cmsisnn/Tests/UnitTest/PregeneratedData/*
lib-cmsisnn/Tests/UnitTest/Output/*
lib-cmsisnn/Tests/UnitTest/Unity/*
lib-cmsisnn/Tests/UnitTest/downloads/*
lib-cmsisnn/Tests/UnitTest/build-cortex-m*
lib-cmsisnn/Documentation/html/*
lib-cmsisnn/Documentation/DoxyGen/src/history.txt
lib-cmsisnn/Documentation/DoxyGen/nn.dxy
lib-cmsisnn/Tests/**
lib-cmsisnn/output
lib-cmsisnn/__pycache__
lib-cmsisnn/*.bak
# Output of the linkchecker tool
lib-cmsisnn/linkchecker-out.csv